header{
	background-color: #F15B31;
	padding-top: 30px 20px;
	text-align: center;
}
body{
	text-align: center;
	margin: 0;
}
h1{
	font-family; Raleway;
	margin: 0;
}
nav{
	background-color: #00A6B3;
	padding-top: 20px;
	padding-bottom: 20px;
}
a{
	margin-right:	20px;
	margin-left:	20px;
}
main{
	width:	850px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}
img{
	margin-top:	40px;
	margin-left:	8px;
	margin-right:	8px;
}
footer{
	text-transform: uppercase;
	padding: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	float: left;
}
.message {
	font-family: Raleway;
	float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
a:hover {
	border: white;
}